#content {
  height: 100%;
  width: 100%;
  display: flex;
}

.column {
  width: 50vw;
  transition: width 0.25s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.column:hover {
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 100%;
}

#angular-bg {
  background-color: rgb(36, 124, 212);
}

#vue-bg {
  background-color: rgb(246, 246, 246);
}
