<div id="content">
  <div id="angular-bg" class="column">
    <div class="logo" id="angular">
      <div class="logo-svg">
        <a href="https://cn.vuejs.org/">
          <img
            width="250px"
            src="https://cdn.jsdelivr.net/gh/marshall-sun/CDN@latest/coursetable/vue.svg"
            alt="Vue.js"
          />
        </a>
      </div>
      <div class="buttons">
        <a href="https://msun.work/coursetable-angular">
          <button nz-button nzType="default">
          </button>
        </a>
      </div>
    </div>
  </div>
  <div id="vue-bg" class="column">
    <div class="logo" id="vue">
      <div class="logo-svg">
        <a href="https://cn.vuejs.org/">
          <img
            width="250px"
            src="https://cdn.jsdelivr.net/gh/marshall-sun/CDN@latest/coursetable/vue.svg"
            alt="Vue.js"
          />
        </a>
      </div>
      <div class="buttons">
        <a href="https://msun.work/coursetable-vue">
          <button nz-button nzType="default">
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
